form {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 213px);
  width: 60%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


input {
  display: block;
  width: 60%;
  font-size: 15px;
  line-height: 35px;
  height: 50px  ;
  margin-bottom: 10px;
}

.errorMessage{
    color: red;
    margin-bottom: 5px;
}

.successMessage{
    color: green;
    margin-top: 5px;
}
