.card {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 550px;
  margin: 20px;
  border-radius: 10px;
    
}



.card h3 {
  text-transform: capitalize;
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: 20px;
  color: rgb(0, 170, 57);
  /* min-width: 400px; */
  align-self: flex-start;
}
.title {
  font-size: 20px;
  text-align: left;
  margin: 0 20px;
}
.card p {
  padding: 10px;
  text-align: left;
}

.card img {
  width: 200px;
  height: 200px;
}
.aboutProduct {
  height: 90px;
  width: auto;
  overflow: auto;
  background-color: rgba(17, 17, 17, 0.151);
  text-transform: capitalize;
}
.price {
  align-self: flex-start;
}

.button {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.button a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: 11px;
  color: #111;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #aaa;
  font-weight: bold;
}

.button a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 0%;
  background: #111;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  transform: skew(-25deg);
  transform-origin: right;
}

.button a:hover:after {
  width: 150%;
  left: -10px;
  transform-origin: left;
}

.button a:hover {
  color: #404eed;
  transition: all 0.5s ease;
}

.button a:nth-of-type(1) {
  border-radius: 50px 0 0 50px;
  border-right: none;
}

.button a:nth-of-type(2) {
  border-radius: 0px 50px 50px 0;
}

.cart-icon {
  padding-right: 8px;
}

.details {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
}

@media screen and (max-width: 880px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 300px;
    max-height: 650px;
  }
  .title {
    font-size: 15px;
  }
  .aboutProduct {
    width: 280px;
    text-align: justify;
  }
}
