.error {
  font-size: 40px;
  color: red;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.loader {
  align-self: center;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.eachProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 77.6vh;
}
.eachProduct img {
  height: 300px;
  width: 300px;
  margin-right: 20px;
}

.productDetails {
  /* height: 60vh; */
  width: 60%;
  border: 2px solid rgb(223, 162, 162);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.productDescription {
  /* width: 50%; */
  padding: 5px;
  font-size: 20px;

  text-align: justify;
}

span {
  font-size: 20px;
  color: green;
}


