.sticky {
  /* position: fixed; */
  bottom: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(133, 153, 153);
  font-size: 20px;
}
