.container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(183, 195, 196);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} 

.error{
  font-size: 40px;
  color: red;
}  
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.loader{
    align-self: center;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

